<div class="container d-flex">
  <div class="row">

    <div class="col-12 col-md-6 col-xl-3">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <mat-icon>inventory</mat-icon>
          </div>
          <p class="card-category">Active Products</p>
          <h3 class="card-title">
            {{ info.activeProducts }} / {{ info.allProducts }}
          </h3>
        </div>
        <div class="card-footer alternate-theme">
          <mat-progress-bar mode="determinate" color="primary" [value]="info.newBillAmount /  info.allBillAmount * 100"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card card-stats">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <mat-icon>people</mat-icon>
          </div>
          <p class="card-category">Active Customers</p>
          <h3 class="card-title">
            {{ info.activeCustomer }} / {{ info.allCustomer }}
          </h3>
        </div>
        <div class="card-footer">
          <mat-progress-bar mode="determinate" [value]="info.activeCustomer / info.allCustomer * 100"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <mat-icon>shopping_cart</mat-icon>
          </div>
          <p class="card-category">Not paid orders</p>
          <h3 class="card-title">
            {{ info.newOrder + info.shippedOrder }} / {{ info.allOrder }}
          </h3>
        </div>
        <div class="card-footer alternate-theme">
          <mat-progress-bar mode="determinate" color="accent" [value]="(this.info.newOrder + this.info.shippedOrder) / this.info.allOrder * 100"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <mat-icon>attach_money</mat-icon>
          </div>
          <p class="card-category">&Sigma; of not paid bills</p>
          <h3 class="card-title">
            {{ info.newBillAmount | currency:'USD':'symbol':'3.0' }} / {{ info.allBillAmount | currency:'USD':'symbol':'3.0' }}
          </h3>
        </div>
        <div class="card-footer">
          <mat-progress-bar mode="determinate" color="warn" [value]="info.activeCustomer / info.allCustomer * 100"></mat-progress-bar>
        </div>
      </div>
    </div>


    <div class="col-12 col-md-6">
      <h2 class="mt-5 text-uppercase">Products</h2>
      <div *ngIf="chartDataProducts"  [theme]="ProductTheme" echarts [options]="chartDataProducts" class="justify-content-center pie-chart"></div>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="mt-5 text-uppercase">Customers</h2>
      <div *ngIf="chartDataCustomers"  [theme]="CustomerTheme" echarts [options]="chartDataCustomers" class="justify-content-center pie-chart"></div>
    </div>
    <h2 class="mt-5 col-12 text-uppercase">Orders</h2>
    <div class="col-12 col-md-6">
      <h3>Number of orders</h3>
      <div *ngIf="chartDataOrders"  [theme]="OrderTheme" echarts [options]="chartDataOrders" class="justify-content-center pie-chart"></div>
    </div>
    <div class="col-12 col-md-6">
      <h3>Amount of orders</h3>
      <div *ngIf="chartDataOrdersAmount" [theme]="OrderTheme" echarts [options]="chartDataOrdersAmount" class="justify-content-center pie-chart"></div>
    </div>

    <h2 class="mt-5 col-12 text-uppercase">Bills</h2>
    <div class="col-12 col-md-6">
      <h3>Number of bills</h3>
      <div *ngIf="chartDataBills"  [theme]="BillTheme" echarts [options]="chartDataBills" class="pie-chart">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h3>Amount of bills</h3>
      <div *ngIf="chartDataBillsAmount"  [theme]="BillTheme" echarts [options]="chartDataBillsAmount" class="pie-chart"></div>
    </div>
  </div> <!-- row-->
</div>
