h2 {
  font-size: 1.7rem;
}

h2, h3 {
  text-align: center;
  font-weight: 300;
}

.card {
  &:hover {
    transition: ease-in;
    transition-duration: 300ms;
    transform: scale(1.05, 1.05);
  }

  &-title {
    min-height: 3rem;
    padding: 2rem;
  }

  &-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 99rem;
  }

  &-container {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &-header-icon {
    border-radius: 99rem;
  }
}

.mat-progress-bar {
  height: 0.6rem;
  border-radius: 2rem;
}

