@use '../../scss/variable' as *;
@use '../../scss/mixin' as mixin;

$alignCenterNameList:            id                                       buttons;
$responsiveNameList:             id customerID productID  amount  status  buttons;
$responsiveList:      $xs-min    20%    20%        15%      10%   hidden      35%,
                      $sm-min    15%    20%        15%      10%      10%      30%,
                      $md-min    15%    20%        15%      10%      10%      30%,
                      $lg-min    10%    35%        20%      10%      10%      15%,
                      $xl-min     5%    40%        20%      10%      10%      15%;

@include mixin.set-database-table-style(
  $responsiveNameList,
  $responsiveList,
  $alignCenterNameList
);
