@use '../../scss/variable' as *;
@use '../../scss/mixin' as mixin;

$alignCenterNameList:            id                                       buttons;
$responsiveNameList:             id customerID productID  amount  status  buttons;
$responsiveList:      $xs-min    10%    20%        25%      10%      10%      25%,
                      $md-min    10%    20%        20%      10%      15%      25%;

@include mixin.set-database-table-style(
  $responsiveNameList,
  $responsiveList,
  $alignCenterNameList
);
