<div class="container">
  <div class="row">
    <div *ngIf="bill" class="col-12 col-lg-8 offset-lg-2">
      <h1 class="editor__title"> {{ bill.id ? 'Modify bill' : 'Create bill' }} </h1>
      <form #billForm="ngForm">
        <input [(ngModel)]="bill.id" class="form-control" name="id" type="hidden" />

        <div class="row border mb-3">
          <div class="form-group col-12">
            <div class="form-group col-12">
              <label for="customer">Order</label>
              <div class="d-flex mt-2">
                <div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="col-8">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunc">
                    <mat-option *ngFor="let sord of filteredList$ | async" [value]="sord">
                      {{ displayFunc(sord) }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-form-field>
                    <input type="text" id="id-customer" class="form-control" matInput [formControl]="orderControl"
                      [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
                  </mat-form-field>
                  <div class="error-message" [hidden]="bill?.orderID">
                    Please choose an order, or create a new.
                  </div>
                </div>
                <div class="col-4 px-0">
                  <button (click)="editOrder()" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i><span
                      class="ml-2"> {{ bill?.orderID ? 'Edit' : 'Create' }} order</span></button>
                </div>
              </div>
            </div>


            <!-- <input [(ngModel)]="bill.orderID" id="orderid" class="form-control bg-white px-1" name="orderID"
              type="number" required pattern="^[1-9][0-9]{0,}" /> -->
            <!-- <div class="error-message" [hidden]="billForm.controls['orderID']?.valid">
              Required, numbers only!
            </div> -->
          </div>
          <!-- <div *ngIf="orderBasic$ | async as orderBasic" class="form-group col-8 d-flex justify-content-end">
            <div class="col-6 "><button (click)="editOrderBasic(orderBasic)" class="btn btn-primary btn-block"><i
                  class="fa fa-pencil"></i>
                <span class="ml-2">EDIT ORDER</span></button>
            </div>
          </div> -->
        </div>

        <!-- <div class="row border mb-3">
          <div class="form-group col-12">
            <label for="customer">Customer</label>
            <div *ngIf="customer$ | async as customer" class="d-flex mt-2">
              <div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="col-8">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer">
                  <mat-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer">
                    {{ displayCustomer(customer) + ' (' + customer.email + ')' }}
                  </mat-option>
                </mat-autocomplete>
                <mat-form-field>
                  <input type="text" id="id-customer" class="form-control" matInput [formControl]="customerControl"
                    [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
                </mat-form-field>
                <div class="error-message" [hidden]="order?.customerID">
                  Please choose a customer, or create a new.
                </div>
              </div>
              <div class="col-4 px-0">
                <button (click)="editCustomer()" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i><span
                    class="ml-2"> {{ order?.customerID ? 'EDIT' : 'CREATE' }} CUSTOMER</span></button>
              </div>
            </div>
          </div>
        </div> -->


        <!-- <div *ngIf="customerBasic$ | async as customerBasic" class="row border mb-3">
          <div class="form-group col-4">
            <label for="customerid">Customer ID</label>
            <div class="d-flex mt-2">
              {{ customerBasic.id }}
            </div>
          </div>

          <div class="form-group col-8">
            <label for="customer">Customer</label>
            <div class="d-flex mt-2">
              <div class="col-6">{{ customerBasic.firstName }} {{ customerBasic.lastName }}</div>
              <div class="col-6 text-center"><button (click)="editCustomerBasic(customerBasic)"
                  class="btn btn-primary btn-block"><i class="fa fa-pencil"></i>
                  <span class="ml-2">EDIT CUSTOMER</span></button>
              </div>
            </div>
          </div>
        </div> -->


        <!-- <div class="row border mb-3">
          <div class="form-group col-12">
            <label for="product">Product name</label>
            <div *ngIf="product$ | async as product" class="d-flex mt-2">
              <div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="col-8">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct">
                  <mat-option *ngFor="let product of filteredProducts$ | async" [value]="product">
                    {{ displayProduct(product) + ' (' + product.description + ')' }}
                  </mat-option>
                </mat-autocomplete>
                <mat-form-field>
                  <input type="text" id="id-product" class="form-control" matInput [formControl]="productControl"
                    [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
                </mat-form-field>
                <div class="error-message" [hidden]="order?.productID">
                  Please choose a product, or create a new.
                </div>
              </div>
              <div class="col-4 px-0">
                <button (click)="editProduct()" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i><span
                    class="ml-2">{{ order?.productID ? 'EDIT' : 'CREATE' }} PRODUCT</span></button>
              </div>
            </div>
          </div>
        </div> -->


        <!-- <div class="row border">
          <div class="form-group col-4">
            <label for="amount">Product amount</label>
            <div *ngIf="orderBasic$ | async as orderBasic" class="d-flex mt-2">
              <div class="col-8">{{ orderBasic.amount }}</div>
            </div>
          </div>

          <div class="form-group col-8">
            <label for="product">Product name</label>
            <div *ngIf="productBasic$ | async as productBasic" class="d-flex mt-2">
              <div class="col-6">{{ productBasic.name }}</div>
              <div class="col-6"><button (click)="editProductBasic(productBasic)" class="btn btn-primary btn-block"><i
                    class="fa fa-pencil"></i>
                  <span class="ml-2">EDIT PRODUCT</span></button>
              </div>
            </div>
          </div>
        </div> -->



        <div class="row">
          <div class="form-group col-4">
            <label for="price">Price (USD)</label>
            <input [(ngModel)]="bill.amount" class="form-control bg-white px-1" id="price" name="amount" type="number"
              required pattern="^[1-9][0-9]{0,}" />
            <div class="error-message" [hidden]="billForm.controls['amount']?.valid">
              Price required!
            </div>
          </div>

          <div class="form-group col-8">
            <label for=""> Status </label>
            <div class="row mx-2 mt-2">

              <div class="form-check form-check-radio mx-2">
                <label class="form-check-label">
                  <input [(ngModel)]="bill.status" class="form-check-input" type="radio" name="status" id="" value="new"
                    required required #name="ngModel">
                  New
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>

              <div class="form-check form-check-radio ml-5">
                <label class="form-check-label">
                  <input [(ngModel)]="bill.status" class="form-check-input bg-white px-1" type="radio" name="status"
                    id="" value="paid" required #name="ngModel">
                  Paid
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>

            </div>
            <div class="error-message" [hidden]="billForm.controls['status']?.valid">
              Status required!
            </div>
          </div>
        </div>

        <div class="form__buttons d-md-flex justify-content-center mt-3 mt-md-5">
          <button mat-raised-button color="basic" (click)="onClose(false)" type="reset" class="col-md-4">
            <mat-icon>undo</mat-icon> <span class="ml-2">Back</span>
          </button>

          <button [disabled]="billForm.invalid" mat-raised-button color="accent" type="submit" class="col-md-4"
            (click)="onSubmit(bill)">
            <mat-icon>save</mat-icon> <span class="ml-2">{{ bill.id ? 'Save changes' : 'Save new' }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="modalOrder" [style]="{
    position: 'absolute',
    top: 0,
    left: 0,
    background: '#fff',
    width: '100%',
    height: '100%'
  }">
  <app-edit-order [orderID]="bill?.orderID || 0" [closeNavigatePath]="null" (close)="modalOrderEnd($event)"
   >
  </app-edit-order>
  </div>
</div>
