.error-message  {
    color: red;
    font-style: italic;
 }

 button:disabled {
  cursor: not-allowed;
}

 button {
  padding: 0.5rem 1.5rem;
  margin-right: 0.5rem;
}

::ng-deep mat-form-field {
  .mat-form-field-underline {
      background-color: rgba(255, 255, 255, 0);
  }
}
