@use '../../scss/variable' as *;
@use '../../scss/mixin' as mixin;

$alignCenterNameList:            id                   status  buttons;
$responsiveNameList:             id  orderID  amount  status  buttons;
$responsiveList:      $xs-min   20%      30%    15%   hidden      35%,
                      $sm-min   15%      25%    30%   hidden      30%,
                      $md-min   15%      25%    15%      15%      30%,
                      $lg-min   10%      45%    15%      15%      15%,
                      $xl-min    5%      50%    15%      15%      15%;

@include mixin.set-database-table-style(
  $responsiveNameList,
  $responsiveList,
  $alignCenterNameList
);


