<div class="container">
  <div class="row ">
    <div *ngIf="order" class="col-12 col-lg-8 offset-lg-2">
      <h1 class="editor__title"> {{ order.id ? 'Modify order' : 'Create order' }} </h1>
      <form #orderForm="ngForm">
        <input [(ngModel)]="order.id" class="form-control" name="id" type="hidden" />
        <div class="row border mb-3">
          <input type="hidden" [(ngModel)]="order.customerID" name="customerID">
          <div class="form-group col-12">
            <label for="customer">Customer</label>
            <div *ngIf="customer$ | async as customer" class="d-flex mt-2">
              <div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="col-8">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer">
                  <mat-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer">
                    {{ displayCustomer(customer) + ' (' + customer.email + ')' }}
                  </mat-option>
                </mat-autocomplete>
                <input type="text" id="id-customer" class="form-control" matInput [formControl]="customerControl"
                  [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
                <div class="error-message" [hidden]="order?.customerID">
                  Please choose a customer, or create a new.
                </div>
              </div>
              <div class="col-4 px-0">
                <button (click)="editCustomer()" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i><span
                    class="ml-2"> {{ order?.customerID ? 'EDIT' : 'CREATE' }} CUSTOMER</span></button>
              </div>
            </div>
          </div>
        </div>

        <div class="row border mb-3">
          <input type="hidden" [(ngModel)]="order.customerID" name="customerID">

          <div class="form-group col-12">

            <label for="product">Product name</label>
            <div *ngIf="product$ | async as product" class="d-flex mt-2">

              <div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="col-8">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct">
                  <mat-option *ngFor="let product of filteredProducts$ | async" [value]="product">
                    {{ displayProduct(product) + ' (' + product.description + ')' }}
                  </mat-option>
                </mat-autocomplete>
                <input type="text" id="id-product" class="form-control" matInput [formControl]="productControl"
                  [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
                <div class="error-message" [hidden]="order?.productID">
                  Please choose a product, or create a new.
                </div>
              </div>
              <div class="col-4 px-0">
                <button (click)="editProduct()" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i><span
                    class="ml-2">{{ order?.productID ? 'EDIT' : 'CREATE' }} PRODUCT</span></button>
              </div>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-4">
            <label for="amount">Amount</label>
            <input [(ngModel)]="order.amount" id="amount" class="form-control bg-white px-1" name="amount" type="number"
              required pattern="^[1-9][0-9]{0,}" />
            <div class="error-message" [hidden]="orderForm.controls['amount']?.valid">
              Minimum amount:1!
            </div>
          </div>

          <div class="form-group col-8">

            <label for=""> Status </label>
            <div class="row mx-2 mt-2">
              <div class="form-check form-check-radio mx-2">
                <label class="form-check-label">
                  <input [(ngModel)]="order.status" class="form-check-input" type="radio" name="status" id=""
                    value="new" required required #name="ngModel">
                  New
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>

              <div class="form-check form-check-radio ml-5">
                <label class="form-check-label">
                  <input [(ngModel)]="order.status" class="form-check-input bg-white px-1" type="radio" name="status"
                    id="" value="paid" required #name="ngModel">
                  Paid
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>

              <div class="form-check form-check-radio ml-5">
                <label class="form-check-label">
                  <input [(ngModel)]="order.status" class="form-check-input" type="radio" name="status" id=""
                    value="shipped" required required #name="ngModel">
                  Shipped
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
            <div class="error-message" [hidden]="orderForm.controls['status']?.valid">
              Status required!
            </div>
          </div>
        </div>

        <div class="form__buttons d-md-flex justify-content-center mt-3 mt-md-5">
          <button mat-raised-button color="basic" (click)="onClose(false)" type="reset" class="col-md-4">
            <mat-icon>undo</mat-icon> <span class="ml-2">Back</span>
          </button>

          <button [disabled]="orderForm.invalid" mat-raised-button color="accent" type="submit" class="col-md-4"
            (click)="onSubmit(order)">
            <mat-icon>save</mat-icon> <span class="ml-2">{{ order.id ? 'Save changes' : 'Save new' }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="(modalCustomer || modalProduct) && order" [style]="{
  position: 'absolute',
  top: 0,
  left: 0,
  background: '#fff',
  width: '100%',
  height: '100%'
}">
  <app-edit-customer *ngIf="modalCustomer" [customerID]="order.customerID" [closeNavigatePath]="null"
    (close)="modalCustomerEnd($event)" [defaultName]="customerControl.value">
  </app-edit-customer>
  <app-edit-product *ngIf="modalProduct" [productID]="order.productID" [closeNavigatePath]="null"
    (close)="modalProductEnd($event)" [defaultName]="productControl.value">
  </app-edit-product>
</div>
